# игнорировать все объектные файлы
*.o
*.out
test
main
test_p
main_p

# игнорировать все выходные файлы кроме output.txt
output_*.txt

# игнорировать временные файлы
tmp*
*~

# игнорировать latex файлы
*.tex
*.aux
*.log
